streamlit>=1.33.0
streamlit-monaco-editor>=0.1.3
streamlit-monaco>=0.1.1
streamlit-ace>=0.1.1
python-dotenv>=1.0.1
langchain>=0.2.0
langchain-openai>=0.1.7
langchain-ollama>=0.1.0
pydantic>=2.7.0
typing-extensions>=4.11.0
orjson>=3.10.0
